{% extends 'teacherbase.html' %}
{% load static %}


{% block teacher %}
<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center">Add Study Material</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table w-75 mx-auto">
                <tr>
                    <td>Enter Title</td>
                    <td>
                        <input type="text" name="title" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>Upload File</td>
                    <td>
                        <input type="file" name="sm" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <button type="submit" class="btn btn-success">Upload</button>
                    </td>
                </tr>
            </table>

        </form>
    </div>
</div>
{% endblock %}